* {
    padding: 0;
    margin: 0;
}

:root {
    --background: radial-gradient(circle, rgba(216,216,216,1) 0%, rgba(153,163,163,1) 35%, rgba(75,80,90,1) 100%);
    --secondary-color:#373b43;
    --font-color: white;

}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: var(--font-color);
}

/* SIDE PANEL */

.side-panel {
    padding: 20px;
    background-color: var(--secondary-color);
}

.side-panel img {
    height: 20px;
    width: auto;
    cursor: pointer;
}

/* ARCHIVE */

.archive {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 2%;
    padding: 20px;
    width: 100vw;
    background: var(--background)
}

/* GAME CARD */


.game-card {
    border: 2px solid rgb(39, 38, 38);
    border-radius: 3px;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    text-align: center;
    position: relative;
    text-align: center;
}

.game-img {
    height: 100%;
    width: 100%;
    position: relative;
}

.game-img img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

.card-text:hover {
    opacity: 1;
    transition: all 0.5s;
}

.card-text p {
    margin-top: 10px;
}

.completed-select {
    background-color: var(--secondary-color);
    border: none;
    color: var(--font-color);
}

.remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: red;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}


/* FORM */

.form-container {
    top: 50%;
    left: 50%;
    width: 30%;
    height: 60%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.form-container {
    background: rgba(75, 80, 90, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(75, 80, 90, 0.3);
    border: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--glassmorphism);
}

input,
select {
    width: 50%;
    margin-top: 5%;
    padding: 5px;
}

.image-label {
    margin-top: 5%;
    width: 50%;
}

.image-upload {
    margin: 0;
}

.remove-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: red;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}


/* MEDIA QUERIES */



@media (max-width: 1200px) {}


/* LAPTOPS */
@media (max-width: 1024px) {
    main {
        background-color: yellow;
        flex-direction: column;
    }

    .side-panel img {
        height: 40px;
    }

    /* FORM */
    .form-container {
        height: 50%;
        width: 50%;
    }

    form {
        gap: 1em;
    }

    input,
    select {
        width: 70%;
        padding: 10px;
        font-size: 1.25rem;
    }
}


/* PHONES */

@media (max-width:480px) {
    main {
        background-color: orange;
    }

    .side-panel img {
        height: 30px;
    }

    .archive {
        justify-content: center;
        gap: 5%;
        padding: 0;
    }

    /* FORM */

    .form-container {
        height: 100%;
        width: 100%;
    }

    form {
        gap: 2em;
    }

    .remove-form {
        height: 40px;
        width: 40px;
        font-size: 2rem;
        top: 30px;
        right: 30px;
    }
}